<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue使用</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        window.onload = function(){
            // 加载vue的代码
            new Vue({
                // vue 对象名字通过el指定
                el:'#app',
                // 定义绑定数据
                data:{
                    name:'Python',
                    url:'https://www.baidu.com',
                    count:0,
                    numlist:[1, 2, 3, 4, 5],
                    strlist:['a', 'b', 'c', 'd', 'e'],
                    datadict:{
                        name:'itcast',
                        gender:'man'
                    },
                    dictlist:[
                        {
                            name:'hua',
                            gender:'women'
                        },
                        {
                            name:'ming',
                            gender:'man'
                        }
                    ]

                },
                // 定义方法
                methods:{
                    AddNum:function(){
                        this.count+=1
                    }
                }
            })
        }

    </script>
</head>
<body>
    <!-- 指定一个div标签 通过id指定加载vue对象，在当前标签下可以使用vue的语法 -->
    <div id='app'>
        <!-- 加载绑定的数据 -->
        <h1>{{name}}</h1>

        <!-- 属性值绑定 v-bind -->
        <div>
            <!-- <a v-bind:href="url">百度</a> -->
            <!-- 简写 -->
            <a :href="url">百度2</a>
        </div>
        <br><br>
        <!-- 事件绑定 v-on -->
        <div>
            <!-- <button v-on:click='AddNum'>{{count}}</button> -->
            <!-- 简写 -->
            <button @click='AddNum'>{{count}}</button>
        </div>
        <!-- 条件判断 -->
        <div>
            <h2 v-if='count==1'> v-if </h2>
            <h2 v-else-if='count==2'> v-else-if </h2>
            <h2 v-else> v-else </h2>
            <!-- 符合条件的时候进行展示 -->
            <h2 v-show='count==5'>v-show</h2>
        </div>
        <!-- for循环的使用 -->
        <div>
            <!-- 基本使用 -->
            <ul>
                <li v-for='data in numlist'>{{data}}</li>
            </ul>
            <ul>
                <li v-for='data in strlist'>{{data}}</li>
            </ul>

            <!-- 下标展示 -->
            <ul>
                <li v-for='(data, index) in strlist'>{{data}}--{{index}}</li>
            </ul>

        </div>



    </div>
    

</body>
</html>